@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Space+Grotesk:wght@700&display=swap');

.card {
  background: rgb(161 160 237 / 10%) !important;
}

a {
  font-family: 'Lobster', cursive;
  font-family: 'Space Grotesk', sans-serif;
  background: #FF9F42;
  background: radial-gradient(ellipse farthest-corner at center center, #FF9F42 40%, #EA5455 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  padding-left: 20px;
}

.p-toolbar-group-end {
  padding-right: 20px;
}