@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Space+Grotesk:wght@700&display=swap');

.title {
  background: #FF9F42;
  background: radial-gradient(ellipse farthest-corner at center center, #FF9F42 40%, #EA5455 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Lobster', cursive;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 6em;
  z-index: 9999 !important;
  position: relative;
}

.text {
  text-align: center;
  margin-top: -30px;
}

.body {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 60px);
  flex-direction: column;
}

.home {
  background-image: radial-gradient(circle, #eaf9f9, #eaf9f9, #eaf9f9, #eaf9f9, #eaf9f9, #eaf9f9, #eaf9f9, #eaf9f9, #eaf9f9, #eaf9f9, #eaf9f9, #eaf9f9);
}