<div class="grid template">
  <div class="col-12 md:col-12 lg:col-5">
    <div class="flex conteudo">
      <p-scrollPanel class="flex" styleClass="custombar0">

      </p-scrollPanel>
    </div>
  </div>
  <div class="col-12 md:col-12 lg:col-7">
    <div class="flex conteudo projetos">
      <p-scrollPanel class="flex">


        <div class="grid">
          <div class="col-12 md:col-7 lg:col-4 projeto" *ngFor="let projeto of projetos">
            <div class="card">
              <div class="header" (click)="abreProjeto()">
                <strong>{{projeto.nome}}</strong>
                <p-button icon="pi {{projeto.button}}"
                  styleClass="p-button-sm p-button-rounded p-button-warning p-button-text"
                  (onClick)="colapse(projeto)"></p-button>
              </div>
              <div class="body" [ngClass]="{ 'collapsed': projeto.colapse }">
                <p>Criação: {{projeto.data}}</p>
                <p>Tarefas: {{projeto.descricao}}</p>
              </div>
              <div class="footer">
                <a>{{projeto.status}}</a>
              </div>
            </div>
          </div>

        </div>


      </p-scrollPanel>
    </div>
  </div>
</div>