section {
  min-height: calc(100vh - 65px);
  height: auto;
}

.cardd {
  max-width: 480px !important;
  margin: 0 auto;
  height: auto;
  padding-top: calc(calc(100vh - 130px) / 4);
  text-align: center;
}

.cadastro {
  color: red;
}

.login {
  color: green;
}

.button:hover {
  cursor: pointer;
}