<section>
  <div class="cardd">
    <p-fieldset>
      <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
          <span class="pi pi-user mr-2"></span>
          <span class="font-bold text-lg"> {{titulo}}</span>
        </div>
      </ng-template>

      <app-login *ngIf="login"></app-login>
      <app-cadastro *ngIf="cadastro"></app-cadastro>


      <p-divider align="center">
        <span class="p-tag">Ou</span>
      </p-divider>


      <a class="button" [ngClass]="{'cadastro': cadastro, 'login': login}"
        (click)="alterarCadastroOuLogin()"><strong>{{button}}</strong></a>


    </p-fieldset>
  </div>
</section>