p-fieldset {
  margin-top: 50%;
}

input,
.entrar {
  width: -webkit-fill-available !important;
}

.input {
  margin-top: 30px;
}

.check {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.check label {
  margin-left: 5px;
}

.p-password-meter {
  display: unset !important;
}