/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/soho-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.p-toolbar {
  background: unset !important;
  border: unset !important;
  padding: unset;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  margin: unset !important;
}

.p-dock-list,
.p-dock {
  padding: unset !important;
}

.p-dock-list {
  background: rgb(161 160 237 / 10%) !important;
}

@media screen and (max-width: 960px) {

  .p-dock,
  .p-dock-item {
    padding: unset !important;
  }
}

.p-dock-list-container {
  position: fixed !important;
  bottom: 0 !important;
}

.p-scrollpanel {
  width: -webkit-fill-available;
}