<div id="user">
  <img id="avatar"
    src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light'">

  <i class="fa fa-gear"></i>

  <div id="main">
    <h3>{{usuario.nome}}</h3>
    <p>Título: World builder</p>
  </div>

  <div id="level">
    <p>Lvl. 42</p>
  </div>

  <div id="information">
    <div id="stats">
      <div>
        <h4>{{nProjetos}}</h4>
        <p>Projetos</p>
      </div>

      <div>
        <h4>0</h4>
        <p>Tarefas</p>
      </div>

      <div>
        <h4>514</h4>
        <p>Selos</p>
      </div>
    </div>

    <p id="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
    </p>
  </div>
</div>